/* 
patch for pcshool navbar
becuze style_pcschool-webbase.css not only for navbar
2023.11.22
*/

.navbar-patch#navbar_top {
    /* padding-right: 1rem !important; */
}

.navbar-patch#navbar_top .navbar-brand {}

.itemName {
    color:#b19293;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.navbar-patch#navbar_top > .container {
    position: relative;
    /* flex-wrap: nowrap; */
    justify-content: end;
}
.navbar-patch#navbar_top .dropdown-menu {
    transition-delay: 300ms;
 }
.navbar-patch#navbar_top .dropdown-menu .container {
    
}

.navbar .dropdown-menu {
    background-color: #f0eded;
    box-shadow: 0 2px 5px #3d3d3d2b;
}

.navbar .nav-item .nav-link, .navbar .nav-item .nav-link {
    transition: .3s ease;
}
.navbar .nav-item:hover .nav-link, .navbar .nav-item .nav-link:hover {
    color: #c7c7c7 !important;
}



@media only screen and (max-width: 1199.98px) {
    .navbar-patch#navbar_top {
        padding: 0.5rem 15px !important;
    }
    .navbar .dtLogo35 {
        
    }
    .navbar .navbar-brand {
        position: relative;
        top: 0;
        margin-right: auto;
        padding: 0;
        overflow: auto;
        width: auto;
    }

    .navbar-patch#navbar_top > .container {
        /* justify-content: flex-start; */
    }
    .navbar-patch#navbar_top .dropdown-menu .container {
        /* flex-wrap: wrap;
        justify-content: space-around; */
        background-color: #37373747;
    }

    .searchBtn:hover, .searchBtn:focus, .gjun-student:hover, .gjun-student:focus, .navbar-toggler:hover, .navbar-toggler:focus {
        opacity: 0.85;
        transition: .3s ease;
    }

    .searchBtn { /* == .btnSearch */
        position: relative;
        right: inherit !important;
        top: inherit;
    }
    .searchBtn.bg-active {
        background-color: #ffffff50;
    }

    .gjun-student {
        position: relative;
        right: inherit;
        top: inherit;
    }
    .navbar-dark .navbar-toggler {
        position: relative;
        right: inherit;
        top: inherit;
    }

    .navbar .navbar-brand img {
        width: 100%;
        max-width: 152px;
    }

    .navbar .dropdown-menu {
        border-top-width: 0px; 
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .navbar .navbar-collapse {
        max-height: 70vh;
        margin-top: 0.2rem;
    }

    .navbar .nav-item {
        padding: 0;
        border-bottom: 1px solid #d9333a;
    }

    .navbar .nav-item.show {
        background-color: #d9333a;
    }

    
    .navbar-nav .nav-item .nav-link {
        padding: 0.8rem 0.5rem !important;
        transition: .3s ease;
    }

    .navbar-nav .nav-item .nav-link:hover,
    .navbar-nav .nav-item .nav-link:focus {
        /* color: #C2000A !important; */
        background-color: #ffffff40 !important;
    }
    .collapse-user .navbar-nav .nav-item .nav-link {
        color: rgb(255, 255, 187);
    }
    .collapse-user .navbar-nav .nav-item .nav-link:hover,
    .collapse-user .navbar-nav .nav-item .nav-link:focus {
        color: rgb(255, 255, 187) !important;
    }
}
